<div class="card text-dark bg-light">
    <div class="card-header text-primary">
      <h3>Lista de usuarios</h3>
    </div>
    <div class="card-body text-primary">
      <table class="table">
        <thead class="table table-striped">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">LastName</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th *ngIf="route=='/dashboard'" scope="col">Notas</th>
            <th  *ngIf="route!='/dashboard'" scope="col">Eliminar</th>
            <th *ngIf="route!='/dashboard'" scope="col">Actualizar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users;">
            <td>{{user.name}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td *ngIf="route=='/dashboard'"><button class="btn btn-info" (click)="getUser(user);">Notas</button></td>
            <td *ngIf="route!='/dashboard'" ><button class="btn btn-info" (click)="DeleteUser(user);">Delete</button></td>
            <td *ngIf="route!='/dashboard'"><a  class="btn btn-info" [routerLink]="['/updateuser',user.id]">Update</a></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="route=='/dashboard'" class="separator">
    <app-notes-table  [route]="route" [nameUser]="nameUser" [note]="note"></app-notes-table>
  </div>

