<h2>Log In</h2>
<form #fu="ngForm" (ngSubmit)="onSubmit(fu)">
    <div class="mb-3">
      <div class="mb-3">
        <label for="formFileSm" class="form-label">Email</label>
        <input class="form-control form-control-sm" name="email" type="email"ngModel>
      </div>
      <div>
        <label for="formFileLg" class="form-label">Password</label>
        <input class="form-control form-control-lg" name="password" type="password" ngModel>
      </div>
      <div class="separador"></div>
      <button class="btn btn-primary" type="submit" value="Log in">Log in</button>
      </div>
</form>