<div class="card border-primary text-primary" style="max-width: 18rem;">
  <div class="card-header">
    <h2>Log In</h2>
  </div>
  <div class="card-body">
    <form novalidate (ngSubmit)="validarCampos(userForm)" [formGroup]="userForm">
      <div class="mb-3">
        <div class="mb-3">
          <label for="formFileSm" class="form-label">Email</label>
          <input class="form-control form-control-sm" type="email" formControlName="email" ngModel>
            <div *ngIf="formAltaControls.email.invalid && formAltaControls.email.errors && (formAltaControls.email.dirty || formAltaControls.email.touched)"
              class="alert alert-danger form-danger" role="alert">
              <small *ngIf="formAltaControls.email.errors.required">
                Email necesario!
              </small>
              <small *ngIf="formAltaControls.email.errors.email">
                Formato name@dominio.com
              </small>
            </div>
        </div>
        <div>
          <label for="formFileLg" class="form-label">Password</label>
          <input class="form-control form-control-lg" type="password" formControlName="password" ngModel>
          <div
              *ngIf="formAltaControls.password.invalid && formAltaControls.password.errors && (formAltaControls.password.dirty || formAltaControls.password.touched)"
              class="alert alert-danger form-danger" role="alert">
              <small *ngIf="formAltaControls.password.errors.required ">
                campo requerido!
              </small>
              <small class="text-danger" *ngIf="formAltaControls.password.hasError('minlength')">
                Minimo de caracteres para este campo {{formAltaControls.password.errors.minlength.requiredLength}}
              </small>
            </div>
        </div>
        <div class="separador"></div>
        <button class="btn btn-primary" type="submit" value="Log in">Log in</button>
      </div>
    </form>
  </div>
</div>
<ng-template [ngIf]="message!=''">
  <div class="alert alert-info" role="alert">
    {{message}}
  </div>
</ng-template>
