<div class="separador"></div>
<h2>Registrar usuario</h2>
<form novalidate (ngSubmit)="register(userForm)" [formGroup]="userForm">
    <div class="mb-3">
        <label for="exampleInputEmaill" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" formControlName="name" ngModel>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmaill" class="form-label"> Apellidos</label>
        <input type="text" class="form-control" id="lasticame" formControlName="lastname" ngModel>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmaill" class="form-label">Telefono</label>
        <input type="text" class="form-control" id="phone" formControlName="phone" ngModel>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmaill" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail" formControlName="email" aria-describedby="email" ngModel>
        <div id=" emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" ng Model>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <div class="separador"></div>
</form>
<div class="alert alert-info" role="alert">
    {{message}}
  </div>